:root {
  --accent: 124, 58, 237;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    #da62c4 30%,
    rgb(8, 178, 197) 60%
  );
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(8, 178, 197) 100%
  );
}

html {
  font-family: system-ui, sans-serif;
  @apply bg-slate-900 text-gray-50;
  @apply font-mono;
}

/* code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
} */

.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* background-size: 400%; */
  background-size: 100%;
  background-position: 0%;
}
